<template>
  <div>
    <v-flex xs12>
      <v-container fluid>
        <trend-radar
          :chart-data="this.datacollection">
        </trend-radar>
      </v-container>
    </v-flex>
  </div>
</template>

<script>
import TrendRadar from '@/components/TrendRadar'
import {mapGetters, mapActions, mapState} from 'vuex'
export default {
  name: 'ChartView',
  components: {
    TrendRadar
  },
  data (){
    return {
      datacollection: null
    }
  },
  methods: {
    ...mapActions('trendradar', [
      'changeChartProperties'
      ]
    ),
    changeData(){
      this.datacollection = {
        labels: [
          'Software Engeneering',
          'Data Analytics',
          'Data Management',
          'Network Administration'
        ],
        datasets: [
          {
            label: "3333",
            data: [18, 10, 12, 8],
            pointBackgroundColor: "green",
            pointBorderColor: "green",
            pointRadius: 4,
            backgroundColor: "green",
            fill: false,
            borderColor: "transparent"
          },
          {
            label: "4444",
            data: [52, 19, 21, 33],
            pointBackgroundColor: "red",
            pointBorderColor: "red",
            pointRadius: 7,
            backgroundColor: "red",
            fill: false,
            borderColor: "transparent"
          }
        ]
      }
    },
    getRandomInteger(min, max){
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    computeData(){
      let colors = ['orange', 'green', 'blue', 'yellow', 'red', 'violet', 'purple', 'grey', 'black', 'pink']
      let categoryLabels = []
      let datasets = []
      let allCategories = []
      var uniqCategories = []
      this.companies.forEach((company) => {
        let color = colors[this.companies.indexOf(company)]

        company.category_group_list.forEach((categoryGroup) => {
          if (!allCategories.includes(categoryGroup.name)) {
            allCategories.push(categoryGroup.name)
          }
        })
        let companyData = [allCategories.length]

        company.category_group_list.forEach((categoryG) => {
          let index = allCategories.indexOf(categoryG.name)
          companyData[index] = this.getRandomInteger(0, 50)
        })

        for (let i = 0; i < companyData.length; i++) {
          if (!companyData[i])
            company[i] = 0
        }

        let dataset = {
          label: company.name,
          data: companyData,
          pointBackgroundColor: color,
          pointBorderColor: color,
          pointRadius: 4,
          backgroundColor: color,
          fill: false,
          borderColor: color
        }
        datasets.push(dataset)
      })
      this.datacollection = {
        labels: allCategories,
        datasets: datasets
      }
      console.log('datacollection final: ', this.datacollection)
    }
  },
  computed: {
    ...mapState('trendradar', [
      'chartProperties'
      ]
    ),
    ...mapState('companies', [
      'companies'
      ]
    )
  },
  watch: {
    datacollection(value){
      console.log('datacollection changed: ', value);
      this.changeChartProperties(value)
    },
    companies(){
      this.computeData()
    }
  },
  mounted() {
  }
}
</script>

<style></style>

