<template>
  <v-container grid-list-lg ref="container">
    <v-layout wrap>
      <template v-if="companies.length === 0 && searchText !== ''">
        <v-container>
          <h3>No results found for "{{ searchText }}"</h3>
        </v-container>
        <v-container>
          <h3>Startship will notify you soon about results.</h3>
        </v-container>
        <template>
          <div class="text-xs-center">
            <v-btn round color="primary" @click="addNotFound(searchText)">Add to Not Founds</v-btn>
          </div>
        </template>

      </template>
        <v-flex xs12 v-for="company in companies" :key="company.name">
          <v-card padding="5px" :hover="true" :raised="true">
            <v-card-media
              class="black--text"
              height="100px"
              src="../assets/logo.png"
              @click="detailView(company)"
            >
              <v-container @click="detailView(company)" fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 md1 align-start flexbox>
                    <v-avatar class="company-logo" :color="color()" :tile="false" :size="56">
                      <span class="white--text headline">{{ companyInitials(company) }}</span>
                    </v-avatar>
                  </v-flex>
                  <v-flex xs12 align-end flexbox @click="detailView(company)">
                    <span class="headline">{{company.name}}</span>
                  </v-flex>

                </v-layout>
              </v-container>
            </v-card-media>
            <v-card-title>
              <div>
                <span class="grey--text">founded on: {{company.founded}}</span><br>
                <span class="grey--text">usd founded: {{company.funding_total_usd}}$</span><br>
                <span class="grey--text">last funding on: {{company.last_funding_on}}</span><br>
              </div>
            </v-card-title>
            <v-card-text>
              <span>{{company.short_description}}</span><br>
            </v-card-text>
            <v-card-actions class="company-actions">
              <div>
                <v-tooltip bottom>
                  <v-btn
                    flat
                    icon
                    color="orange"
                    slot="activator"
                    @click="console.log('contact ' + company.name)"
                  >
                    <v-icon>message</v-icon>
                  </v-btn>
                  <span>Contact the company</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <v-btn
                    flat
                    icon
                    @click="add(company)"
                    slot="activator"
                    color="orange">
                    <v-icon>add</v-icon>
                  </v-btn>
                  <span>Add to watchlist</span>
                </v-tooltip>
              </div>
              <div>
                <v-chip xs12 color="indigo" class="score-chip" text-color="white">
                  <v-avatar>
                    <v-icon>sort</v-icon>
                  </v-avatar>
                  score: {{ company.score }}
                </v-chip>
              </div>
            </v-card-actions>
          </v-card>
        </v-flex>
      <v-snackbar
        :timeout="4000"
        :bottom="true"
        :centered="true"
        v-model="snackbar.show"
      >
        {{ snackbar.text }}
        <v-btn flat color="blue" @click.native="snackbar.show = false">Close</v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import Velocity from 'velocity-animate'
export default {
  name: 'CompaniesList',
  data () {
    return {
      snackbar: {
        show: false,
        text: null
      },
      colors: [
        "red",
        "green",
        "grey",
        "purple",
        "indigo",
        "teal",
        "blue",
        "orange"
      ]
    }
  },
  mounted () {
    console.log((window.innerHeight + window.pageYOffset))
    console.log(document.body.offsetHeight)
    console.log(this.color())
    window.onscroll = () => {
      if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
          // alert("you're at the bottom of the page");
      }
    };
  },
  methods: {
    ...mapActions('companies', [
      'selectCompany'
      ]
    ),
    ...mapActions('watchlist', [
      'addToWatchlist'
      ]
    ),
    ...mapActions('notFounds', [
      'addToNotFounds'
      ]
    ),
    detailView(company){
      this.selectCompany(company)
      this.$router.push('/company/' + company.id)
    },
    add(company){
      this.addToWatchlist(company)
      this.snackbar = {
        show: true,
        text: `Added "${company.name}" to watchlist.`
      }
    },
    addNotFound(searchText) {
      const notFound = {
        title: searchText,
        time: new Date().toLocaleString()
      }
      this.addToNotFounds(notFound)
      this.snackbar = {
        show: true,
        text: `Added "${searchText}" to not founds.`
      }
    },
    color () {
      const min = 0
      const max = this.colors.length - 1
      return this.colors[parseInt(Math.random() * (max - min) + min)]
    },
    companyInitials (company) {
      const { name } = company
      const first = name.split(' ')[0]
      const second = name.split(' ')[1] || ''
      return (first[0] + (second.length > 0 ? second[0] : '')).toUpperCase()

    }
  },
  computed: {
    ...mapState('companies', [
      'companies',
      'company',
      'searchText'
      ]
    )
  },
  watch: {
    companies(value){
      console.log(value);
    }
  }
}
</script>

<style scoped>
.company-logo, .score-chip {
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}
.company-actions {
  display: flex;
  justify-content: space-between;
}
.card {
  border-radius: 14px;
}
</style>
