<template>
  <v-footer color="blue-grey" class="white--text">
    <span>Startship</span>
    <v-spacer></v-spacer>
    <span>&copy; 2018</span>
  </v-footer>
</template>

<script>
export default {
  name: 'CustomFooter'
}
</script>

<style></style>

