<template>
  <v-container fluid>
    <v-flex xs12>
      <v-date-picker v-model="filter.lastFoundedDateFilterValue"></v-date-picker>
    </v-flex>
    <v-flex xs12>
      <v-btn color="primary" @click="toggleRightDrawer()">
        <v-icon>check_circle</v-icon>
      </v-btn>
    </v-flex>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'LastFoundedDatePickerFilter',
  methods: {
    ...mapActions('ui',
      ['toggleRightDrawer']
    )
  },
  computed: {
    ...mapState('companies',
      ['filter']
    )
  }
}
</script>

<style>

</style>
