<template>
  <v-container fluid>
    <v-flex @click="toggleRightDrawer()" xs12>
      <v-text-field
        label="Last founding since "
        v-model="filter.lastFoundedDateFilterValue"
      ></v-text-field>
    </v-flex>
    <v-flex xs12>
      <v-text-field
        type="number"
        label="with amount "
        v-model="filter.lastFoundedAmountFilterValue"
      ></v-text-field>
    </v-flex>
    <v-divider></v-divider>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'LastFoundedFilter',
  methods: {
    ...mapActions('ui',
      ['toggleRightDrawer']
    )
  },
  computed: {
    ...mapState('companies',
      ['filter']
    )
  }
}
</script>

<style>

</style>
