<template>
  <div>
    <toolbar></toolbar>
    <right-navigation-drawer></right-navigation-drawer>
    <left-navigation-drawer></left-navigation-drawer>
  </div>
</template>

<style>
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
</style>

<script>
import { mapActions, mapState } from 'vuex'
import Toolbar from '@/components/Toolbar'
import RightNavigationDrawer from '@/components/Drawers/RightNavigationDrawer'
import LeftNavigationDrawer from '@/components/Drawers/LeftNavigationDrawer'

export default {
  name: 'NavMenu',
  components: {Toolbar, RightNavigationDrawer, LeftNavigationDrawer}
}
</script>
<style scoped>
  .el-menu, .menu {
    height: 100%;
  }
</style>
