<template>
  <v-container fluid>
    <v-flex xs12>
      <v-select
        v-on:keyup.enter="searchCompanies"
        :loading="loadingSuggests"
        :search-input.sync="searchInput"
        :items="suggestItems"
        :filter="filterItems"
        append-icon="false"
        prepend-icon="search"
        label="Search"
        :clearable="true"
        :validate-on-blur="true"
        autocomplete
      ></v-select>
      <div v-if="termSuggests.length > 0">
        Do you mean:
        <a v-for="term in termSuggests" :key="term.text"
           @click="applyToSearchBox(term.text)">{{term.text}}
        </a>
      </div>
    </v-flex>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Search',
  data () {
    return {
      queryText: '',
      searchInput: null,
      termSuggests: []
    }
  },
  watch: {
    searchInput (text) {
      this.queryText = text
      text && this.suggest(text)
    }
  },
  methods: {
    ...mapActions(
      'companies', [
        'search',
        'suggest',
        'filter'
      ]
    ),
    searchCompanies () {
      this.queryText && this.search(this.queryText);
    },
    filterItems(item, queryText, itemText) {
      queryText = queryText || ''
      return queryText.slice(-1) !== ' '
    },
    applyToSearchBox(text) {
      this.search(text)
    }
  },
  computed: {
    ...mapState(
      'companies',
      ['suggestions', 'loadingSuggests']
    ),
    suggestItems () {
      if (!this.queryText) {
        return []
      }
      this.termSuggests = this.suggestions['term_suggests']
      if (this.suggestions) {
        return this.suggestions['completion_suggests']
          .map(suggest => suggest.text.toLowerCase())
      }
    }
  }
}
</script>

<style>

</style>
