<template>
  <div>
    <v-flex xs12>
      <v-tabs v-model="active">
        <v-tab id="tabSearch">
          List
        </v-tab>
        <v-tab-item>
          <companies-list></companies-list>
        </v-tab-item>
        <v-tab name="tabRadar">
          Trend Radar
        </v-tab>
        <v-tab-item>
          <chart-view></chart-view>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </div>
</template>

<script>
import CompaniesList from '@/components/CompaniesList'
import ChartView from '@/components/ChartView'
import {mapActions, mapState} from 'vuex'

export default {
  name: 'SearchResult',
  components: {
    CompaniesList, ChartView
  },
  data () {
    return {
      active: '0'
    }
  },
  methods: {
    handleClick(tab, event){
    },
    ...mapActions('trendradar',
      ['initTrendradar']
    )
  },
  mounted () {
    this.initTrendradar()
  }
}
</script>

<style>

</style>
