<template>
  <v-container fluid>
    <v-flex xs12>
      <v-select
        :items="technologyItems"
        v-model="filter.technologyFilterValue"
        label="Technology"
      ></v-select>
    </v-flex>
    <v-divider></v-divider>
  </v-container>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: "TechnologyFilter",
  data: () => ({
    technologyItems: ['Blockchain', 'Crypto', 'Docker', 'Go'],
  }),
  methods: {},
  computed: {
    ...mapState('companies',
      ['filter']
    )
  }
}
</script>

<style>
</style>
