<template>
  <v-toolbar
    :style="{backgroundColor: '#31b371'}"
    dark
    fixed
    app
    clipped-right>
    <v-toolbar-side-icon @click.stop="toggleLeftSidebar()"></v-toolbar-side-icon>
    <v-toolbar-title>Startship</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn flat icon color="white" @click.stop="toggleRightSidebar()">
      <v-icon>filter_list</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {
  name: 'Toolbar',
  methods: {
    ...mapActions('ui',
      ['toggleRightSidebar', 'toggleLeftSidebar']
    )
  },
  computed: {
    ...mapState('ui',
      ['leftSidebarOpened', 'rightSidebarOpened']
    )
  }
}
</script>

<style>
</style>


