<template>
  <div>
    <v-navigation-drawer
      v-model="leftSidebarOpened"
      fixed
      app
    >
      <v-list dense>
        <v-list-tile @click="toggleLeftDrawer()">
          <v-list-tile-action>
            <v-icon>account_circle</v-icon> <!-- fas fa-tachometer-alt mdi-watch -->
          </v-list-tile-action>
          <v-badge>
            <span v-if="false" slot="badge">0</span>
            <v-list-tile-content>
              <v-list-tile-title>Account</v-list-tile-title>
            </v-list-tile-content>
          </v-badge>
        </v-list-tile>
        <v-list-tile v-for="item in navItems" :key="item.title" @click="navigate(item.id)">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-badge>
            <span v-if="item.badge>0" slot="badge">{{item.badge}}</span>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-badge>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-navigation-drawer
      v-model="leftDrawer"
      temporary
      fixed
    >
      <v-btn flat icon @click="toggleLeftDrawer()">
        <v-icon>keyboard_backspace</v-icon>
      </v-btn>

      <div class="profile-container">
        <v-avatar class="user-profile-picture" color="red lighten-1" :tile="false" :size="90">
          <span class="white--text headline">A</span>
        </v-avatar>
        <v-spacer></v-spacer>
        <h1>username</h1>
      </div>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'LeftNavigationDrawer',
  data: () => ({
    navItems: [
      {
        id: 1,
        title: "Search",
        icon: "search",
        badge: 0
      },
      {
        id: 2,
        title: "Watchlist",
        icon: "library_books",
        badge: 0
      },
      {
        id: 3,
        title: "Messages",
        icon: "message",
        badge: 2
      },
      {
        id: 4,
        title: "Not Founds",
        icon: "visibility_off"
      },
      {
        id: 5,
        title: "News",
        icon: "speaker_notes"
      }
    ]
  }),
  methods: {
    ...mapActions('ui',
      ['toggleLeftDrawer', 'toggleLeftSidebar']
    ),
    navigate(id) {
      switch (id) {
        case 1:
          this.$router.push('/')
          break
        case 2:
          this.$router.push('/watchlist')
          break
        case 3:
          this.$router.push('/messages')
          break
        case 4:
          this.$router.push('/not-founds')
          break
        case 5:
          this.$router.push('/news')
          break
      }
    }
  },
  computed: {
    ...mapState('ui',
      ['leftDrawer', 'leftSidebarOpened']
    )
  }
}
</script>

<style>
.user-profile-picture {
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}
.profile-container {
  text-align: center;
  padding: 40px;
}

</style>
