<template>
  <v-container fluid>
    <v-navigation-drawer
      v-model="rightSidebarOpened"
      fixed
      right
      clipped
      app
    >
      <v-list>
        <country-filter/>
        <v-divider/>
        <age-filter/>
      </v-list>
    </v-navigation-drawer>
    <v-navigation-drawer
      v-model="rightDrawer"
      right
      temporary
      fixed
    >
      <last-founded-date-picker-filter></last-founded-date-picker-filter>
    </v-navigation-drawer>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CountryFilter from '@/components/Filters/CountryFilter'
import AgeFilter from '@/components/Filters/AgeFilter'
import LastFoundedDatePickerFilter from '@/components/LastFoundedDatePickerFilter'

export default {
  name: 'RightNavigationDrawer',
  components: {
    LastFoundedDatePickerFilter,
    CountryFilter,
    AgeFilter
  },
  data: () => ({}),
  methods: {
    ...mapActions('ui',
      ['toggleRightDrawer']
    )
  },
  computed: {
    ...mapState('ui',
      ['rightSidebarOpened', 'rightDrawer']
    )
  }
}
</script>

<style>
</style>
