<template>
    <v-container fluid>
        <v-flex xs12>
            <v-text-field label="Age" v-model="filter.ageFilterValue" type="number"></v-text-field>
        </v-flex>
        <v-flex xs12>
            <v-slider v-model="filter.ageFilterValue" step="2" :max="20"></v-slider>
        </v-flex>
        <v-divider></v-divider>
    </v-container>
</template>

<script>
import { mapState } from 'vuex'
export default {
    name: "AgeFilter",
    data: () => ({}),
    computed: {
        ...mapState('companies',
            ['filter']
        )
    }
}
</script>

<style>

</style>
