<template>
  <v-container fluid>
    <v-flex xs12>
      <v-select
        :items="countries"
        item-text="country"
        item-value="country"
        multiple
        chips
        v-model="selectedCountries"
        label="Country">
      </v-select>
    </v-flex>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: "CountryFilter",
  data () {
    return {
      selectedCountries: []
    }
  },
  methods: {
    ...mapActions('companies', [
      'fetchCountries',
      'setFilterValues'
      ]
    )
  },
  computed: {
    ...mapState('companies', [
      'filter',
      'countries'
      ]
    )
  },
  watch: {
    selectedCountries (countries) {
      this.setFilterValues({countries})
    }
  },
  mounted () {
    this.fetchCountries()
  }
}
</script>

<style>

</style>
