<template>
  <v-app id="inspire" class="application--toolbar application--footer application--footer-fixed">
    <nav-menu></nav-menu>
    <v-content>
        <router-view></router-view>
    </v-content>
    <v-footer :style="{backgroundColor: '#31b371'}" class="white--text">
      <v-container>
        <span>Startship</span>
        <v-spacer></v-spacer>
        <span>&copy; 2018</span>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import NavMenu from '@/components/NavMenu'
import CutomFooter from '@/components/CustomFooter.vue'

export default {
  name: 'App',
  components: {
    NavMenu,
    CutomFooter
  },
  data () {
    return {
      history: []
    }
},
  watch: {
    '$route' (to, from) {
        console.log('nav from: ' + from.name + ' to ' + to.name)
        this.history.push('nav from: ' + from.name + ' to ' + to.name)
    }
  }
}
</script>

<style lang="scss">
@import './styles/index.scss';
footer {
  padding: 20px;
}
body {
  margin: 0;
}
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#app {
    color: #333;
    width: 100%;
    height: 100%;
    .page-layout {
        position: absolute;
        width: 100%;
        height: 100%;
        main {
            z-index: 1;
            overflow-x: auto;
            height: calc(100% - 80px);
            padding-top: 80px;
            position: absolute;
            transform-style: preserve-3d;
            will-change: transform;
            transition-property: transform;
            width: 100%;
            transform: translate3d(0, 0, 0)!important;
            @include respond-to('lg') {
                width: calc(100% - #{$sidebar-size});
                transform: translate3d($sidebar-size, 0, 0)!important;
            }
            @include respond-to('xs', 'sm') {
              padding: 10px;
              padding-right: 50px;
            }
        }
    }
}
</style>
