<template>
  <v-container fluid>
      <v-flex xs12>
        <v-card >
          <v-card-title primary-title >
            <v-avatar
            :title="company.name"
            color="grey lighten-4"
            >
              <img src="../assets/logo.png" alt="avatar">
            </v-avatar>
            <div class="title">
              {{ company.name }}
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            <div class="body">Founded: {{ company.founded }}</div>
          </v-card-text>
          <v-card-text class="body">
            Location:
            {{ company.location[0].city }},
            {{ company.location[0].country }}
          </v-card-text>
          <v-card-text class="body">
            Status: {{ company.status }}
          </v-card-text>
          <v-card-text>
            <div class="body">Description: {{ company.short_description }}</div>
          </v-card-text>
          <v-card-text>
            <v-list>
              <v-subheader>Categories:</v-subheader>
              <v-list-tile>
                <v-list-tile-content v-for="category in company.category_group_list" :key="category.name">
                    <v-list-tile-title>
                      {{ category.name }}
                    </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
          <v-card-text class="body">
            Homepage: {{ company.homepage }}
          </v-card-text>
          <v-card-actions>
            <v-tooltip bottom>
              <v-btn 
              flat
              color="orange"
              slot="activator"
              @click="console.log('contact ' + company.name)"
              >
                <v-icon>message</v-icon>
              </v-btn>
              <span>Contact the company</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn 
              flat
              @click="add()"
              slot="activator" 
              color="orange">
                <v-icon>add</v-icon>
              </v-btn>
              <span>Add to watchlist</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn 
              flat
              color="orange"
              slot="activator"
              >
                <v-icon>insert_chart</v-icon>
              </v-btn>
              <span>Show company statistics</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn 
              flat
              slot="activator" 
              color="orange">
                <v-icon>compare</v-icon>
              </v-btn>
              <span>Compare company to another</span>
            </v-tooltip>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-snackbar
        :timeout="4000"
        :bottom="true"
        :centered="true"
        v-model="snackbar.show"
      >
        Added "{{ snackbar.text }}" to watchlist.
        <v-btn flat color="blue" @click.native="snackbar.show = false">Close</v-btn>
      </v-snackbar>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  export default {
    data () {
      return {
        company: {},
        snackbar: {
          show: false,
          text: null
        }
      }
    },
    computed: {
      ...mapState('companies',
        ['companies', 'loadCompany']
      )
    },
    methods: {
      ...mapActions('watchlist',
        ['addToWatchlist']
      ),
      add(){
        this.addToWatchlist(this.company)
        this.snackbar = {
          show: true,
          text: this.company.name
        }
      }
    },
    mounted () {
      this.company = this.companies.find((company) => {
        return company.id === this.$route.params.id
      })
      if(!this.company){
        console.log('company not found in state, need to load from api.')
      }
    }
  }
</script>