<template>
  <div>
      <v-flex xs12>
        <search></search>
      </v-flex>
      <search-result></search-result>
  </div>
</template>

<script>
  import Search from '../components/Search.vue'
  import SearchResult from '../components/SearchResult.vue'

  export default {
    components: {Search, SearchResult}
  }
</script>

<style>
</style>
