<template>
  <v-container fluid>
      <v-flex xs12>
        <v-list three-line subheader>
          <v-subheader>Not found searches</v-subheader>
          <v-list-tile v-for="notFound in notFounds">
            <v-list-tile-content>
              <v-list-tile-title>Not found text "{{ notFound.title }}"</v-list-tile-title>
              <v-list-tile-sub-title>Added at: {{ notFound.time }}</v-list-tile-sub-title>
              <v-list-tile-sub-title>Status: In progress</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-btn color="error" @click="removeNotFound(notFound)"><v-icon>delete</v-icon></v-btn>
          </v-list-tile>
        </v-list>
      </v-flex>

  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  export default {
    methods: {
      ...mapActions('notFounds',
        ['removeNotFound']
      )
    },
    computed: {
      ...mapState('notFounds',
        ['notFounds']
      )
    }
  }
</script>

<style>
</style>
