<template>
  <v-container fluid>
    <v-list two-line>
      <template>
        <v-subheader >{{ header }}</v-subheader>
        <v-divider></v-divider>
        <v-list-tile v-for="company in watchlist" :key="company.name" avatar>
          <v-list-tile-avatar @click="select(company)">
            <img src="http://www.ccorpusa.com/wp-content/uploads/2017/07/logo.png">
          </v-list-tile-avatar>
          <v-list-tile-content @click="select(company)">
            <v-list-tile-title v-html="company.name"></v-list-tile-title>
            <v-list-tile-sub-title v-html="company.founded"></v-list-tile-sub-title>
          </v-list-tile-content>
          <v-btn color="error" @click="remove(company)"><v-icon>delete</v-icon></v-btn>
          <v-snackbar
            :timeout="4000"
            :bottom="true"
            :centered="true"
            v-model="snackbar.show"
          >
            Removed "{{ snackbar.text }}" from watchlist.
            <v-btn flat color="blue" @click.native="snackbar.show = false">Close</v-btn>
          </v-snackbar>
        </v-list-tile>
      </template>
    </v-list>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
  export default {
    name: 'Watchlist',
    data: () => ({
      header: 'Watchlist',
      snackbar: {
        show: false,
        text: null
      }
    }),
    computed: {
      ...mapState('watchlist',
            ['watchlist']
      )
    },
    methods: {
      ...mapActions('watchlist',
          ['removeFromWatchlist']
      ),
      remove(company){
        this.removeFromWatchlist(company)
        this.snackbar = {
          show: true,
          text: company.name
        }
      },
      select(company){
        this.$router.push('/company/' + company.id)
      }
    }

  }
</script>

<style>
</style>
